body {
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center
}

.login-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px
}

h2 {
    text-align: center;
    margin-bottom: 15px
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px
}

button {
    width: 100%;
    background: green;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px
}

button:hover {
    background: green
}

.message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold
}